@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Ubuntu:wght@500&display=swap');
:root{
    --primary-color:hsl(172, 67%, 45%);
    --neutral-color:hsl(183, 100%, 15%);
    --dark-greyish-cyan:hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan2: hsl(185, 41%, 84%);
    --Light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:var(--Light-grayish-cyan2);
    font-family: 'Space Mono', monospace;
}

.container{
    text-align: center;
    margin:40px 0 0;
}

.container .sub-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 40px;
    margin:20px 200px 0;
    text-align: left;
    background:#fff;
    border-radius:20px;
}

.container .sub-container input{
    background-color:var(--Light-grayish-cyan2);
    border:none;
    outline: none;
    padding:10px;
    border-radius:5px;
    font-size:20px;
    font-weight:500;
    color:var(--neutral-color);
    text-align: right;
}

.container .sub-container .billinput{
    width:78%;
    height:45px;
    margin:5px 5px 20px;
    transition:border 2s;
}

.container .sub-container .billinput:hover,
.container .zemi1 input:hover{
    border:2px solid var(--primary-color);
}

.container .sub-container .semi-container img{
    position: relative;
    left:-350px;
}

h2{
    font-size:20px;
    font-weight:500;
    color:var(--dark-greyish-cyan);
}

.container .semi .buttons button{
    padding:15px 35px;
    margin:10px 5px; 
    background:var(--neutral-color);
    border:none;
    outline:none;
    border-radius:5px;
    color:#fff;
    font-size:20px;
    transition:background 2s;
}


.container .semi .buttons .per5{
    padding:15px 40px;
}

.container .semi .buttons .custom{
    width:22%;
    height:55px;
    text-align:     left;
}



.container .semi .buttons button:hover{
    background:var(--primary-color);
}

.container .zemi1{
    margin:20px 0px;
}

.container .zemi1 span{
    margin:0 0 0 20px;
    color:red;
    position: relative;
    display:none;
}

.container .zemi1 input{
    width:78%;
    margin:10px 0;
    transition: border 2s;
}

.container .zemi1 img{
    position: relative;
    left:-350px;
}

.container .zemi{
    background:var(--neutral-color);
    padding:30px;
    width:400px;
    border-radius:10px;
    color:#fff; 
    text-align: center;
}

.container .zemi .ze{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:30px;
    
}

.container .zemi .zem{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.container .zemi .zem p{
    color:var(--Dark-grayish-cyan);
}

.container .zemi .zem .green{
    color:var(--primary-color);
}

.container .zemi .zem2{
    margin:20px 0 120px;
}

.container .zemi .btn{
    padding:20px 140px;
    background: var(--primary-color);
    border:none;
    outline:none;
    border-radius:10px;
    font-size:20px;
    font-weight:600;
    color:var(--neutral-color);
}

@media screen and (max-width:480px){
    .container .sub-container{
        margin:20px 0px;
        flex-direction:column;
        padding:30px 0px 30px 10%;
    }

    .container  .sub-container .billinput{
        width:80%;
    }

    .container .sub-container .semi-container img{
        left:-80%;
    }

    .container .semi .buttons{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .container .semi .buttons button{
        padding:15px 23%;
        margin:10px;
    }

    /* .container .semi .buttons .per5{
        padding:15px 40px;
    } */

    /* .container .semi .buttons .per10,
    .container .semi .buttons .per15{
        padding:15px 35px;
    } */

    .container .semi .buttons .custom{
        width:60%;
        margin:10px 0 10px 10px;
    }


    .container .zemi1 span{
        margin:0 0 0 10px;
        font-size:18px;
    }

    .container .zemi1 img{
        left:-80%;
    }

    .container .zemi1 input{
        width:80%;
    }

    .container .zemi{
        width:80%;
        margin:0;
        position: relative;
        left:-10%;
        font-size:12px;
    }

    .container .zemi .btn{
        padding:20px 30%;
        font-size:18px;
    }




}